* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", system-ui;
}

.features-links-tags {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
}